<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Review</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Add Review for Book: <span th:text="${book.id}"></span></h2>-->
<!--<form action="#" th:action="@{/book_library/{id}/addReview(id=${book.id})}" th:object="${userReview}" method="post">-->
<!--    <p>Review ID: <input type="number" th:field="*{userReview.reviewId}"></p>-->
<!--    <p>Review Title: <input type="text" th:field="*{userReview.reviewTitle}"></p>-->
<!--    <p>Review Text: <input type="text" th:field="*{userReview.reviewText}"></p>-->
<!--    <p><input type="submit" value="Submit"></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
